<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <% console.log(document.cookie); %> 
        <a href="http://localhost:8080/login">Login</a>
        <a href="http://localhost:8080/register">Register</a>
        <a href="http://localhost:8080/logout">Logout</a>
        <a href="http://localhost:8080/playlist"></a>
        
</body>
</html>